* {
    margin: 5px;
    padding: 0;
}
:root {
    --primary-color: #2C3756;
    --secondary-color: #2A455E;
    --ascent1: #904C46;
    --ascent2: #DB5B3A;
    --font-family1: "Barlow", sans-serif;
    --font-family2: "IBM Plex Serif", serif;
}

body {
    font-family: "Barlow", sans-serif;
    font-weight: 900;
    color: var(--ascent2);
    width: 900px;
}

h1 {
    font-weight: 100;
    color: var(--primary-color);
    
}


main h2 {
    color: var(--secondary-color);
}

a {
    text-decoration: none;
}

p {
    font-family: var(--font-family2)
}

footer {
	position: relative;
	bottom: 0;
	margin: 1rem;
	border-top: 1px solid #000;
	padding: 0.5rem;
	color: var(--primary-color);
	font-weight: 700;
	font-style: italic;
}

.hero {
    position: relative;
}

h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: rgba(255, 255, 255, .8);
    text-align: center;
}

article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 36%;
    background-color: rgba(255, 255, 255, .8);
}

.hero article img {
    float: right;
	margin: 0 0 15px 15px;
	border: 1px solid rgba(0 0 0 / .3);
	box-shadow: 0 0 30px #777;
    width: 200px;
    height: 200px;
    border: 1px;
    padding: 1px;
    box-shadow: 0 0 20px gray;

}

.hero{
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;

}




